In [11]:
import pandas as pd
import requests
import pyarrow
from json import loads

## Collect and aggregate data

In [12]:
url = "https://api.lorcana-api.com/cards/all"

responseOne = requests.get(url + '?page=1')
# responseTwo = requests.get(url + '?page=2')
# responseThree = requests.get(url + '?page=3')

df = pd.DataFrame.from_dict(responseOne.json())

page = 2

while page <= 15:
    response = requests.get(url + f"?page={page}")
    pageDf = pd.DataFrame.from_dict(response.json())
    df_results = pd.concat([df, pageDf])
    df = df_results.drop_duplicates(subset=['Name'], keep='first')
    print(page)
    page += 1

2
3
4
5
6
7
8
9
10
11
12
13
14
15

### Check Data

In [13]:
df.head(5)

,Artist,Set_Name,Set_Num,Color,Image,Cost,Inkable,Name,Type,Rarity,...,Card_Num,Body_Text,Set_ID,Classifications,Lore,Willpower,Strength,Move_Cost,Abilities,Card_Variants
0,Agnes Christianson,Into the Inklands,3,Amber,https://lorcana-api.com/images/99_puppies/99_p...,5,False,99 Puppies,Action,Uncommon,...,24,Whenever one of your characters quests this tu...,INK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Koni,The First Chapter,1,Steel,https://lorcana-api.com/images/a_whole_new_wor...,5,False,A Whole New World,Action - Song,Super Rare,...,195,(A character with cost 5 or more can {e} to si...,TFC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Oleg Yurkov,The First Chapter,1,Ruby,https://lorcana-api.com/images/abu/mischievous...,3,True,Abu - Mischievous Monkey,Character,Common,...,103,NaN,TFC,"Storyborn, Ally",2.0,2.0,3.0,NaN,NaN,NaN
3,Andreas Rocha,Into the Inklands,3,Ruby,https://lorcana-api.com/images/agrabah/marketp...,3,True,Agrabah - Marketplace,Location,Common,...,134,NaN,INK,NaN,2.0,5.0,NaN,1.0,NaN,NaN
4,Jenna Gray,Into the Inklands,3,Emerald,https://lorcana-api.com/images/airfoil/airfoil...,2,True,Airfoil,Item,Common,...,97,I Got To Be Going - {e}: If you've played 2 or...,INK,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.shape[0]

612

## Send to Parquet

In [15]:
df.to_parquet('cards.parquet')